@if (isOpen()) {
  <div class="modal-backdrop" (click)="onBackdropClick($event)">
    <div class="modal-container" [class.modal-container-wide]="size() === 'wide'">
      <div class="modal-header">
        <h2 class="modal-title">{{ title() }}</h2>
        <button class="modal-close-btn" type="button" aria-label="Close modal" (click)="close.emit()">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
}
